:root{
    --hfont: 
}


body{
   text-align: center;
    background-color: rgb(199, 192, 161);
    padding: 25px;
}

.content{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

#about{
    color: rgb(58, 39, 11);
    font-size: 50px;
    text-decoration: underline;
    line-height: 20px;
    margin-bottom: 50px;
}

.form{
    border: double; color: rgb(95, 97, 83);
    border-radius: 30px;
    line-height: 30px;
}

.intro{
    margin: 5px;
}